body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
fieldset,img{border:0}
dl,ul,ol,li{list-style:none}
input,select,textarea,button{vertical-align:middle}
button{border:0;background:none;cursor:pointer}
a{text-decoration:none}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}
img{vertical-align:top}

body{-webkit-text-size-adjust:none}

.hide{position:absolute;width:0;height:0;overflow:hidden;z-index:-1}